tr
    td(colspan="2")
        p.email-body Hey #Circle Member!
tr
    td(colspan="2")
        p.email-body A new announcement has been posted on the website. Go check it out!
tr
    td(colspan="2")
        p.email-body Der Volkskreis UAE