tr
    td(colspan="2")
        p.email-body Dear #{firstName}
tr
    td(colspan="2")
        p.email-body Welcome to the #Circle!
tr
    td(colspan="2")
        p.email-body Your request to join the #Circle has been approved!
tr
    td(colspan="2")
        p.email-body You can now log in to your account. You will also be shortly added to the official WhatsApp group.
tr
    td(colspan="2")
        p.email-body Der Volkskreis UAE