doctype html
html
    head
        title= title
        meta(name="color-scheme" content="dark")
        meta(name="supported-color-schemes" content="dark")
        style
            include ../../public/stylesheets/style.css
    body
        table
            tr
                td
                    table
                        include header
                        include body
                        include footer