tr
    td(colspan="2")
        p.email-body Dear #{firstName}
tr
    td(colspan="2")
        p.email-body Welcome to the #Circle!
tr
    td(colspan="2")
        p.email-body We have received your account details and are in the proccess of verifying your account. Verification takes between 30 minutes to 1 day. It all depends on who is free to approve your join request.
tr
    td(colspan="2")
        p.email-body Once we approve your request, you will receive another email notification and you will be able to login to your account!
tr
    td(colspan="2")
        p.email-body Der Volkskreis UAE