tr
    td(colspan="2")
        p.email-body Hey #Circle Member!
tr
    td(colspan="2")
        p.email-body A new event has been announced on the website. Go check it out! Don't forget to register if you are coming.
tr
    td(colspan="2")
        p.email-body Der Volkskreis UAE