tr
    td(colspan="2")
        p.email-body Dear Admin
tr
    td(colspan="2")
        p.email-body There is a new signup waiting for verification on the website.
tr
    td(colspan="2")
        p.email-body Der Volkskreis UAE