tr
    td
        hr.divider
tr
    td
        div.footer-container
            div.social-icons-container(style="float: right")
                a.link(href="https://www.instagram.com/volkskreis.uae" rel="noreferrer" target="_blank")
                    img.social-icon(src="cid:instagram")
            
            