tr
    td(colspan="2")
        p.email-body Dear #{firstName}
tr
    td(colspan="2")
        p.email-body Welcome to the #Circle.
tr
    td(colspan="2")
        p.email-body We appreciate you joining on board Der Volkskreis UAE sponsor list. May we have a successful partnership together.
tr
    td(colspan="2")
        p.email-body Your account has been created successfully. You can now login with your password: #{password}
tr
    td(colspan="2")
        p.email-body Once you login, you will be asked to change your password to something you can remember.
tr
    td(colspan="2")
        p.email-body If you have any questions, please don't hesistate to reach out to us on our WhatsApp numbers or at admin@volkskreisuae.com

tr
    td(colspan="2")
        p.email-body Der Volkskreis UAE